@media (min-width: 768px) {
  .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    flex-direction: row;
    gap: 30px;
  }
}
.caja {
  width: 400px;
  height: 500px;
  background-color: #7ebfb9;
  border: 4px solid black;
  border-radius: 20px;
  font-family: better together script;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 30px;
}

.h3 {
  font-size: 8rem;
}

.footer {
  padding: 20px;
  background-color: hsl(308deg, 28%, 57%);
  width: 98vw;
  font-size: 2rem;
  border-radius: 20px;
}

.derechos-autor {
  padding: 100px;
  background-color: rgba(0, 0, 0, 0.174);
  border-top: 50px solid white;
}

.titulo-principal-jufe {
  text-shadow: 3px 3px 3px #fcc1f4;
  font-size: cover;
  font-weight: bold;
  font-style: oblique;
  color: #7ebfb9;
}

.hero {
  height: 96vh;
  background-image: url(/assets/cupcake/cake-bandeja-cristal.png);
  background-position: center;
  background-repeat: n;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h3-index {
  font-size: 2.5rem;
}

.w-25 {
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
}

.boton-servicio {
  text-decoration: none;
  background-color: aquamarine;
  border-radius: 10px;
  font-size: 1rem;
  padding: 8px 10px;
  border: 2px solid black;
  text-align: center;
}

.boton-producto {
  text-decoration: none;
  background-color: aquamarine;
  border-radius: 10px;
  font-size: 1rem;
  padding: 8px 10px;
  border: 2px solid black;
  text-align: center;
}

.card {
  background-color: aquamarine;
  align-content: center;
  text-align: center;
}

.boton-servicio {
  text-align: end;
  background-color: rgba(137, 43, 226, 0.83);
}

header .header1 {
  font-size: 3rem;
  border-color: red;
  padding: 15px;
}

.redes-sociales {
  padding: 50px;
  background-color: rgba(176, 116, 168, 0.8196078431);
  width: 97vw;
  text-align: center;
}

@media (min-width: 768px) {
  .main-contacto {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "titulo__ubicacion titulo__ubicacion" "horario__atencion horario__atencion" "ubicacion__mapa redes__titulos";
    padding: 20px;
  }
}
.card {
  background-color: aquamarine;
  align-content: center;
  text-align: center;
}

/*
.boton-servicio {

    text-align: end;
    background-color: rgba(137, 43, 226, 0.83);
}
*/
.w-50 {
  border-radius: 4rem;
  transform: translate(45px);
}

.w-75 {
  border-radius: 2rem;
}

.contenedor-derechos {
  background-color: aqua;
}

.hero__texto {
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 255, 255, 0.473);
  padding: 32px;
  border-radius: 20px;
  color: rgb(153, 95, 51);
}

.hero__texto h1 {
  font-size: 3rem;
  color: red;
}

.hero__texto h2 {
  font-size: 2rem;
  font-weight: 300;
}

.contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
}

.horario__atencion {
  padding: 30px;
  text-align: center;
}

.ubicacion__mapa {
  padding-left: 30px;
  width: 60vw;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.titulo__ubicacion {
  padding: 50px;
  background-color: rgba(126, 191, 185, 0.7568627451);
  width: 97vw;
  text-align: center;
  border-radius: 50px;
}

.ubicacion__mapa {
  padding-left: 30px;
  width: 60vw;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

/* redes sociales */
.bi-whatsapp {
  padding: 20px;
  font-size: 25px;
  color: green;
}

.bi-instagram {
  padding: 20px;
  font-size: 25px;
  color: mediumvioletred;
}

.bi-facebook {
  padding: 20px;
  font-size: 25px;
}

.contenedor-nosotros {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 15px;
  align-items: center;
  flex-direction: column;
  background-color: #b074a8;
}

.titulo-nosotros {
  font-size: 3rem;
  align-items: center;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0);
}

.imagen__cupchoco {
  width: 50vh;
  border-radius: 20px;
  justify-content: center;
  gap: 20px;
}

.imagen__oreo {
  width: 50vh;
  border-radius: 20px;
  justify-content: center;
  gap: 20px;
}

.imagen__sara {
  width: 50vh;
  border-radius: 20px;
  justify-content: center;
  gap: 20px;
}

.imagen__frutas {
  width: 50vh;
  border-radius: 20px;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .contenedor-nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 10px;
    background-color: rgba(255, 255, 255, 0);
  }
  .cuadrilla1 {
    display: flex;
    flex-direction: row;
    width: 650px;
    height: 500px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background-color: #fcc1f4;
  }
  .cuadrilla2 {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 650px;
    height: 500px;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background-color: #7ebfb9;
  }
  .cuadrilla3 {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 650px;
    height: 500px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #7ebfb9;
  }
  .cuadrilla4 {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 650px;
    height: 500px;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background-color: #fcc1f4;
  }
}
.titulo-productos {
  font-size: 2rem;
  align-items: center;
  text-align: center;
  background-color: #7ebfb9;
  border-radius: 20px;
  margin: 2rem;
}

.caja-productos {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 400px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.titulo-paladar {
  font-size: 0.5rem;
  text-shadow: 0.5px 0.5px;
}

.bandeja-producto {
  object-fit: cover;
  box-shadow: 2px 2px 2px 2px;
}

@media (min-width: 768px) {
  .titulo-productos {
    font-size: 4rem;
    align-items: center;
    text-align: center;
    background-color: rgba(126, 191, 185, 0.6352941176);
    border-radius: 20px;
    margin: 4rem;
    padding: 30px;
  }
  .contenedor-prod1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
  .contenedor-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 20px;
    padding-bottom: 100px;
  }
}
.titulo-paladar {
  font-size: 2.5rem;
  text-shadow: 2.5px 2.5px;
}

.bandeja-producto {
  box-shadow: 20px 20px 20px 20px;
}

.servicios {
  font-size: 2rem;
  align-items: center;
  text-align: center;
  background-color: #7ebfb9;
  border-radius: 20px;
  margin: 2rem;
}

.table {
  margin-top: 20px;
  padding-top: 20px;
  background-color: rgba(252, 193, 244, 0.6352941176);
  border-collapse: collapse;
  border: 100px solid rgba(128, 0, 128, 0.285);
}

@media (min-width: 768px) {
  .servicios {
    font-size: 4rem;
    align-items: center;
    text-align: center;
    background-color: rgba(126, 191, 185, 0.7803921569);
    border-radius: 20px;
    margin: 4rem;
    padding: 30px;
  }
  .contenedor-opciones {
    display: flex;
    justify-content: space-around;
    font-size: 4rem;
    align-items: center;
    text-align: center;
    background-color: rgba(126, 191, 185, 0.6352941176);
    border-radius: 50px;
    margin: 4rem;
    padding: 30px;
  }
}
body {
  background-image: url(../assets/fondo-web/fondo\ pag\ web.png);
  background-size: cover;
}

/*# sourceMappingURL=styles.css.map */
