.horario__atencion {
    padding: 30px;
    text-align: center;

}

.ubicacion__mapa {
    padding-left: 30px;
    width: 60vw;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

}



.titulo__ubicacion {

    padding: 50px;
    background-color: #7ebfb9c1;
    width: 97vw;
    text-align: center;
    border-radius: 50px;
}

.ubicacion__mapa {
    padding-left: 30px;
    width: 60vw;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

/* redes sociales */
.bi-whatsapp {
    padding: 20px;
    font-size: 25px;
    color: green;
}

.bi-instagram {

    padding: 20px;
    font-size: 25px;
    color: mediumvioletred;
}

.bi-facebook {
    padding: 20px;
    font-size: 25px;
}