.horario__atencion {
    padding: 30px;
    text-align: center;

}

.ubicacion__mapa {
    padding-left: 30px;
    width: 60vw;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

}

.horario__atencion {
    padding: 30px;
    text-align: center;

}

.titulo__ubicacion {

    padding: 50px;
    background-color: blueviolet;
    width: 98vw;
    text-align: center;
}

.ubicacion__mapa {
    padding-left: 30px;
    width: 60vw;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}