.hero__texto {

    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 255, 0.473);
    padding: 32px;
    border-radius: 20px;
    color: rgb(153, 95, 51)
}

.hero__texto h1 {
    font-size: 3rem;
    color: red
}

.hero__texto h2 {
    font-size: 2rem;
    font-weight: 300;
}


.contenedor {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;

}