.contenedor-nosotros {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 15px;
    align-items: center;
    flex-direction: column;

    background-color: #b074a8;

}

.titulo-nosotros {
    font-size: 3rem;
    align-items: center;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0);
}

.imagen__cupchoco {

    width: 50vh;
    border-radius: 20px;
    justify-content: center;
    gap: 20px;

}

.imagen__oreo {
    width: 50vh;
    border-radius: 20px;
    justify-content: center;
    gap: 20px;

}

.imagen__sara {

    width: 50vh;
    border-radius: 20px;
    justify-content: center;
    gap: 20px;
}

.imagen__frutas {
    width: 50vh;
    border-radius: 20px;
    justify-content: center;
    gap: 20px;

}

@media (min-width: 768px) {

    .contenedor-nosotros {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px 10px;
        background-color: rgba(255, 255, 255, 0);
    }


    .cuadrilla1 {
        display: flex;
        flex-direction: row;
        width: 650px;
        height: 500px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 20px;
        align-items: center;
        justify-content: space-around;
        padding: 15px;
        background-color: #fcc1f4;

    }

    .cuadrilla2 {
        display: flex;
        flex-direction: row;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 20px;
        width: 650px;
        height: 500px;
        align-items: center;
        justify-content: space-around;
        padding: 15px;
        background-color: #7ebfb9;

    }

    .cuadrilla3 {
        display: flex;
        flex-direction: row;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 20px;
        width: 650px;
        height: 500px;
        align-items: center;
        justify-content: center;
        padding: 15px;
        background-color: #7ebfb9;
    }

    .cuadrilla4 {
        display: flex;
        flex-direction: row;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 20px;
        width: 650px;
        height: 500px;
        align-items: center;
        justify-content: space-around;
        padding: 15px;
        background-color: #fcc1f4;
    }

}