.footer {
    padding: 20px;
    background-color: hsl(308, 28%, 57%);
    width: 98vw;
    font-size: 2rem;
    border-radius: 20px;

}

.derechos-autor {

    padding: 100px;
    background-color: rgba(0, 0, 0, 0.174);
    border-top: 50px solid white;

}