.hero {
    height: 96vh;
    background-image: url(/assets/img/taza-flores-celestes.jpg);
    background-position: center;
    background-repeat: n;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}