.boton-servicio {
   text-decoration: none;
   background-color: aquamarine;
   border-radius: 10px;
   font-size: 1rem;
   padding: 8px 10px;
   border: 2px solid black;
   text-align: center;

}

.boton-producto {

   text-decoration: none;
   background-color: aquamarine;
   border-radius: 10px;
   font-size: 1rem;
   padding: 8px 10px;
   border: 2px solid black;
   text-align: center;


}